.box
	display: flex
	flex-direction: column
	&.xcenter
		align-items: center
		text-align: center
	&.xleft
		align-items: flex-start
		text-align: left
	&.xright
		align-items: flex-end
		text-align: right
	&.ycenter
		justify-content: center
	&.ytop
		justify-content: flex-start
	&.ybot
		justify-content: flex-end
	&.ybetween
		justify-content: space-between
	&.yevenly
		justify-content: space-evenly
	&.yaround
		justify-content: space-around

.row
	display: flex
	flex-direction: row
	&.xleft
		justify-content: flex-start
	&.xcenter
		justify-content: center
	&.xright
		justify-content: flex-end
	&.xbetween
		justify-content: space-between
	&.xevenly
		justify-content: space-evenly
	&.xaround
		justify-content: space-around
	&.ycenter
		align-items: center
	&.ytop
		align-items: flex-start
	&.ybot
		align-items: flex-end

.site-page-head
	margin-bottom: 3rem