.nav-group
	margin-top: var(--space-4)

.nav-group h2
	margin-bottom: 0.5rem

.nav-link
	display: flex
	align-items: center
	justify-content: space-between
	gap: var(--space-2)
	padding: 6px var(--space-2)
	border-radius: 6px
	color: var(--text-primary)
	font-size: var(--text-md)
	margin-bottom: 0.25rem

p.nav-link
	line-height: 1

.nav-link:hover
	background: var(--accent-subtle)
	color: var(--foreground)

.nav-link[aria-current='page']
	background: var(--accent-subtle)
	color: var(--foreground)