:root
	--bg: #fcfcfc
	--bg-panel: #f1f1f1
	--bg-button: #e1e1e1
	--bg-raised: #ffffff
	--bg-sunken: #efefef
	--theme-color: #FF3E00
	--text-primary: #151414
	--text-secondary: #9c9c9c
	--text-muted: #606060
	--border: #e7e7e7
	--border-subtle: #fafafa
	--border-strong: #d7d7d7

	--text-xs: 0.67rem
	--text-sm: 0.75rem
	--text-md: 0.85rem
	--text-bs: 1rem
	--text-lg: 1.125rem
	--text-xl: 1.25rem
	--text-2xl: 1.5rem
	--text-3xl: 1.875rem
	--text-4xl: 2.25rem
	--text-5xl: 2.75rem
	--text-6xl: 3.5rem

	--unit-space: 0.25rem
	--space-3xs: calc(var(--unit-space) * 0.25)
	--space-2xs: calc(var(--unit-space) * 0.5)
	--space-xs: var(--unit-space)
	--space-sm: calc(var(--unit-space) * 2)
	--space-md: calc(var(--unit-space) * 3)
	--space-bs: calc(var(--unit-space) * 4)
	--space-lg: calc(var(--unit-space) * 6)
	--space-xl: calc(var(--unit-space) * 8)
	--space-2xl: calc(var(--unit-space) * 12)
	--space-3xl: calc(var(--unit-space) * 16)

	--radius-sm: 4px
	--radius-md: 8px
	--radius-bs: 12px
	--radius-lg: 16px
	--radius-full: 9999px

	--transin2: cubic-bezier(0.550, 0.055, 0.675, 0.190)
	--transin3: cubic-bezier(0.755, 0.050, 0.855, 0.060)
	--transout1: cubic-bezier(0.390, 0.575, 0.565, 1.000)
	--transout2: cubic-bezier(0.215, 0.610, 0.355, 1.000)
	--transout3: cubic-bezier(0.230, 1.000, 0.320, 1.000)
	--speed1: 90ms
	--speed2: 140ms
	--speed3: 280ms
	--motionin1: var(--speed1) var(--transin1)
	--motionout1: var(--speed1) var(--transout3)
	--motionin2: var(--speed2) var(--transin2)
	--motionout2: var(--speed2) var(--transout2)
	--motionin3: var(--speed3) var(--transin3)
	--motionout3: var(--speed3) var(--transout3)