.brand-name
	font-weight: 600
	font-size: 19px
	letter-spacing: -0.02rem

.logo-row
	gap: 0.5rem

.status-dot
	width: 7px
	height: 7px
	border-radius: var(--radius-pill)
	background: var(--border-strong)

.status-dot[data-status='ported']
	background: var(--theme-color)
.status-dot[data-status='in-progress']
	background: var(--bg-sunken)

.card
	svg.card-arrow
		margin-top: auto
		color: var(--theme-color)
		transition: transform var(--motionout3)
	&:hover
		svg.card-arrow
			transform: translateX(2rem)